name: Master-Build-Docker-Images

#on:
#  push:
#    # 每次 push tag 时进行构建，不需要每次 push 都构建。使用通配符匹配每次 tag 的提交，记得 tag 名一定要以 v 开头
#    tags:
#      - v*

on:
  push:
    branches:
      - master

jobs:
  push:
    # 如果需要在构建前进行测试的话需要取消下面的注释和上面对应的 test 动作的注释。
    # needs: test

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8


      # maven缓存，不加的话每次都会去重新拉取，会影响速度
      - name: Dependies Cache
        uses: actions/cache@v2
          with:
            path: ~/.m2/repository
            key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
            restore-keys: |
              ${{ runner.os }}-maven-

       # node.js环境设置?
      - uses: docker/setup-buildx-action@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x

      # 安装maven依赖
      - name: Maven Clean Install
        run: |
          echo '=====开始mvn clean====='
          mvn clean

          echo '=====开始mvn install&&package====='
          mvn install -DskipTests=true && mvn package -DskipTests=true

      - name: Build vue_mogu_admin and vue_mogu_web
        run: |
          echo '=====开始安装Vue_mogu_admin依赖====='
          cd ./vue_mogu_admin
          npm install
          npm run build
          cd ..

          echo '=====开始安装Vue_mogu_web依赖====='
          cd ./vue_mogu_web
          npm install
          npm run build
          cd ..

        # 构建镜像，指定镜像名
      - name: Build Java Docker Images
        run: |

          echo '=====开始构建镜像====='
          echo '=====开始构建mogu_admin====='
          cd mogu_admin
          mvn docker:build

          cd ..

          echo '=====开始构建mogu_gateway====='
          cd mogu_gateway
          mvn docker:build
          cd ..

          echo '=====开始构建mogu_monitor====='
          cd mogu_monitor
          mvn docker:build
          cd ..

          echo '=====开始构建mogu_picture====='
          cd mogu_picture
          mvn docker:build
          cd ..

          echo '=====开始构建mogu_search====='
          cd mogu_search
          mvn docker:build
          cd ..

          echo '=====开始构建mogu_sms====='
          cd mogu_sms
          mvn docker:build
          cd ..

          echo '=====开始构建mogu_spider====='
          cd mogu_spider
          mvn docker:build
          cd ..

          echo '=====开始构建mogu_web====='
          cd mogu_web
          mvn docker:build
          cd ..

          echo '=====镜像构建结束====='

      # 构建镜像，指定镜像名
      - name: Build Vue Docker Images
        run: |

          echo '=====开始构建镜像====='
          echo '=====开始构建vue_mogu_admin====='
          cd vue_mogu_admin

          # 最后面的.是指在vue_mogu_admin目录下使用Dockerfile镜像文件来构建一个镜像
          # docker build -t registry.cn-guangzhou.aliyuncs.com/junmowen-repo/vue_mogu_admin .
          cd ..

          cd vue_mogu_web
          docker build -t registry.cn-guangzhou.aliyuncs.com/junmowen-repo/vue_mogu_web .
          cd ..

          echo '=====镜像构建结束====='

      # 登录到 阿里云镜像服务，使用 GitHub secrets 传入账号密码，密码被加密存储在 GitHub 服务器
      - name: Login to Aliyun
        uses: docker/login-action@v1
        with:
          registry: rregistry.cn-guangzhou.aliyuncs.com
          username: ${{ secrets.ALIYUN_USER_NAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Push Docker Image
        run: |
          echo '=====开始上传镜像====='
          echo '=====开始上传mogu_admin====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/mogu_admin:latest
          echo '=====开始上传mogu_gateway====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/mogu_gateway:latest

          echo '=====开始上传mogu_monitor====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/mogu_monitor:latest

          echo '=====开始上传mogu_picture====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/mogu_picture:latest

          echo '=====开始上传mogu_search====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/mogu_search:latest

          echo '=====开始上传mogu_sms====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/mogu_sms:latest

          echo '=====开始上传mogu_spider====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/mogu_spider:latest

          echo '=====开始上传mogu_web====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/mogu_web:latest

          echo '=====开始上传vue_mogu_admin====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/vue_mogu_admin:latest

          echo '=====开始上传vue_mogu_web====='
          docker push registry.cn-guangzhou.aliyuncs.com/junmowen-repo/vue_mogu_web:latest

          echo '=====镜像上传结束====='

      #登录腾讯云服务器，更新服务器中的镜像，最后执行项目启动脚本
      - name: Update New Docker Image And Restart Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DOCKER_IP }}
          username: ${{ secrets.DOCKER_ID }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          port: 22
          script: |
            cd /root/docker-compose/bin
            ./update.sh
            echo '=====镜像更新完成====='
            echo '=====服务重启完成====='
